HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
.mvn
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

user-management-service/src/main/resources/keystore.p12
guest-game-service/src/main/resources/keystore.p12
gallery-service/src/main/resources/keystore.p12
eventsetup-service/src/main/resources/keystore.p12
events-management-service/src/main/resources/keystore.p12
board-service/src/main/resources/keystore.p12